.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    padding-top: 25px; 
    height: 0px;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
   margin: auto 0px;
   display: block;
  }
   body{
       background-color: #2f726a;
   }
   
   h1{
align-content: center;
  justify-content: center;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    background-color:#663333;
    background-repeat: repeat;
    color: #FFA01B;
    }

    h2{
        font-size: 25px;
        font-family: 'Luckiest Guy', cursive;
        color: #FFA01B;
    }
    h3{
        font-size: 15px;
        font-family: 'Luckiest Guy', cursive;
        color: #FFA01B;
    }

    .smaller-image{
        width: 50px;
    }

    .nav{
        
        background-color: whitesmoke;
    }

    p{
        font-size: 25px;
        font-family: 'Luckiest guy';
        color: #e5e5db;
        text-align: center;
    }

    .nav-bar a{
        text-decoration: none;
        font-size: 20px;
        font-family: 'luckiest guy', cursive;
        color: #FFA01B;
        display: inline-block;
        line-height: 70px;
        padding: 0 25px;
        justify-content: center;
        flex-direction: row;
       background-color: #e5e5db;
      
    }

    .nav-bar a :hover{
        color: white;
        
    }

    .image-grid{
        --gap: 16px;
        --num-cols:4;
        --row-height: 300px;

        box-sizing: border-box;
        padding: var(--gap);

        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap:var(--gap)
    }

    .image-grid > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media screen and (max-width: 1024px) {
        .image-grid {
            --num-cols: 2;
            --row-height: 200px;
        }
    }

    article{
        font-size: 30px;
        font-family: 'Luckiest Guy', cursive;
        text-align: center;
        color: #FFA01B;
    }

    .img-grid2{
        --gap: 16px;
        --num-cols:4;
        --row-height: 300px;

        box-sizing: border-box;
        padding: var(--gap);

        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap:var(--gap);
        
        align-items: center;
        justify-content: center;
    
    }
    
    .img-grid2 > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .img-grid3{
        --gap: 16px;
        --num-cols:4;
        --row-height: 300px;

        box-sizing: border-box;
        padding: var(--gap);

        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap:var(--gap);
        
        
    
    }
    
    .img-grid3 > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .img-grid4{
        --gap: 16px;
        --num-cols:4;
        --row-height: 300px;

        box-sizing: border-box;
        padding: var(--gap);

        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap:var(--gap);
        
        
    
    }
    
    .img-grid4 > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
        justify-content: center;
    }
